*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
}

.left{
    width: 40vw;
    height: 100vh;
    background-image: url("/images/hero_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.left h1{
    background-color: hsla(0,0%,0%, .7);
    color: #FE347E;
    text-decoration: underline;
    text-decoration-color: #4D4DFF;
    padding: 1.5em;
    font-size: 3.2em;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin-top: 8em;
}

.right{
    width: 60vw;
    height: 100vh;
    background-color: black;
    color: white;
}